<a href="https://colab.research.google.com/github/swon95/ML_Calories-Burned-Prediction/blob/main/Calories-Burned-Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

kaggle Data_Set

- 칼로리 소모 예측

https://www.kaggle.com/datasets/kushagrakinjawadekar/calories-burned-predicition

Physical Movements Calories counting

- Calories Burned Prediction


---


Columns Description

User_ID : 구분할 수 있는, 사람을 지칭함

Calories : 소비 칼로리

Gender : 성별

Age : 나이

Height : 키

Weight : 몸무게

Duration : 운동 지속시간

Heart_Rate : 심박수

Body_Temp : 체온


---

어떤 운동을 통해 칼로리를 소모했는지에 대한 특성이 있었으면 더 좋았을것같은 아쉬움이 있다.

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

calories = pd.read_csv('/content/drive/MyDrive/kaggle_data/calories.csv')
exercise = pd.read_csv('/content/drive/MyDrive/kaggle_data/exercise.csv')

df = pd.merge(calories, exercise, on = 'User_ID')
df

,User_ID,Calories,Gender,Age,Height,Weight,Duration,Heart_Rate,Body_Temp
0,14733363,231.0,male,68,190.0,94.0,29.0,105.0,40.8
1,14861698,66.0,female,20,166.0,60.0,14.0,94.0,40.3
2,11179863,26.0,male,69,179.0,79.0,5.0,88.0,38.7
3,16180408,71.0,female,34,179.0,71.0,13.0,100.0,40.5
4,17771927,35.0,female,27,154.0,58.0,10.0,81.0,39.8
...,...,...,...,...,...,...,...,...,...
14995,15644082,45.0,female,20,193.0,86.0,11.0,92.0,40.4
14996,17212577,23.0,female,27,165.0,65.0,6.0,85.0,39.2
14997,17271188,75.0,female,43,159.0,58.0,16.0,90.0,40.1
14998,18643037,11.0,male,78,193.0,97.0,2.0,84.0,38.3
14999,11751526,98.0,male,63,173.0,79.0,18.0,92.0,40.5